.card {
    width: 100px;
    height: 100px;
    margin: 10px;
    
    /* border-style: ridge; */
    border-style: solid;
    border-radius: 25px;
    border-color: gray;
    background-color: azure;

    transition: transform 1s;
    transform-style: preserve-3d;
}

.card.isFlipped {
    transform: rotateY(180deg);
}

.cardImage {
    position: absolute;
    height: 90%;
    margin: 5%;
    backface-visibility: hidden;
}

.cardImage.back {
    transform: rotateY(180deg);
}

.gameBlock {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
}